<h1>{{event.name}}</h1>
<h3>Tickets at {{event.price}} each</h3>

<form action="/get-ticket">
  <div class="form-group">
    <label for="usr">Name:</label>
    <input type="text" name="name" class="form-control" id="usr">
  </div>

  <input type="hidden" name="id" value="{{event.id}}">
  <input type="submit"  class="btn btn-primary"value="Submit">

</form>
